
/* Modal */
.modal-header {
    background: #eff3f8;
}
@media (min-width: 768px) {
    .modalXLarge {
        width: 95%;
        max-width: 1400px;
    }
}
/* END: Modal */
/* ui autocomplete*/
.ui-autocomplete {
	z-index: 9999;
    padding: 0;
    list-style-type: none;
   	background: #438EB9;
    border: 1px solid #438EB9;
    color: #fff;
}
.ui-autocomplete .ui-menu-item {
    color: #fff;
    border-bottom: 1px solid #f00;
	font-size: 12px;;
	cursor: pointer;
	cursor: pointer;
    padding: 7px 15px;
	border-bottom: 1px dashed #3b7597;
}
.ui-helper-hidden-accessible {
	display: none;
}
.ui-menu-item:hover {
	color: #fff;
    background: #5ea5ce;
}
/*-------- end: ui autocomplete ------------ */